<%-include("header")-%>

    <div>
        <%for(var i=0;i<hotelRes.results.length;i++){%>
            <div class="wrapper">
                <div class="product-img">
                    <img src="<%=hotelRes.results[i].thumbnailUrl%>" height="420" width="327">
                </div>
                <div class="product-info" style="text-align: center;">
                    <div class="product-text">
                        <h1><%=hotelRes.results[i].name%></h1>
                        <h2><%=hotelRes.results[i].address.streetAddress%></h2>
                        <p>Rating : <%for(var j=0;j<hotelRes.results[i].starRating;j++){%>
                            <i class="fa fa-star fixed" style="text-shadow: 1px 1px 1px black;"></i>
                            <%}%>
                             <br><br><span style="font-size: 1.6rem;font-weight: 500;"><%=hotelRes.results[i].ratePlan.price.current%> per night</span></p>
                    </div>
                    <div class="product-price-btn">
                        <a class="btn btn-primary" href="https://in.hotels.com/ho<%=hotelRes.results[i].id%>/?pa=1&q-check-out=2020-12-15&tab=description&q-room-0-adults=2&YGF=2&q-check-in=2020-12-14&MGT=1&WOE=2&WOD=1&ZSX=0&SYE=3&q-room-0-children=0" type="button">Book Now</a>
                    </div>
                </div>
            </div>
            <%}%>
    </div>

    <%-include("footer")-%>