<%- include("header") -%>
    <!-- top destinations -->
    <h1 style="margin-top: 2%;">Top Destinations</h1>
    <div class="topdes">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <%for(var i=0; i < rows.length; i++){%>
                <div class="col">
                    <div class="card h-100">
                        <img src="images/cover/<%=rows[i].cover%>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%=rows[i].name%>
                            </h5>
                            <%if(rows[i].vr !== null){%>
                                <a class="btn btn-success btn-lg btn-block" href="<%=rows[i].vr%>"
                                    target="_blank">Explore
                                    in
                                    VR</a>
                                <%}%>
                                    <a class="btn btn-success btn-lg btn-block" href="/places/<%=rows[i].name%>">Know
                                        More</a>
                                    <%if(rows[i].name==='Mysuru Palace' ){%>
                                        <a class="btn btn-success btn-lg btn-block" href="https://go.echoar.xyz/GRBs"
                                            target="_blank">View in AR</a>
                                        <%}%>
                        </div>
                    </div>
                </div>
                <%}%>
        </div>
    </div>

    <%- include("footer") -%>