<%- include("header") -%>

    <div class="row">

        <div class="col-md-7 info">
            <h1>
                <%=place.name%>
            </h1>
            <p class="placepara">
                <%=place.info%>
            </p>
            <iframe src="<%=place.map%>" width="750" height="250" frameborder="5"
                style="border-radius:20px; margin-left: 5%;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>

            <h2 style="text-align: center;">Reviews</h2>

            <%if(rows.length> 0){%>
                <h6 style="text-align: center;">Average Rating:
                    <%for(var i=0; i < rows[0].average; i++){%>
                        <span class="fa fa-star fixed"></span>
                        <%}%>
                            <%for(var i=rows[0].average; i < 5; i++){%>
                                <span class="fa fa-star"></span>
                                <%}%>
                                    (<%=rows.length%> Reviews)
                </h6>
                <div id="reviews" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-interval="4000">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="review-section">
                                <div class="description">
                                    <h2>
                                        <%=rows[0].name%>
                                    </h2>
                                    <%for(var j=0; j < rows[0].stars; j++){%>
                                        <span class="fa fa-star fixed stars"></span>
                                        <%}%>
                                            <%for(var j=rows[0].stars; j < 5; j++){%>
                                                <span class="fa fa-star stars"></span>
                                                <%}%>
                                                    <br>
                                                    <p>
                                                        <%=rows[0].message%>
                                                    </p>
                                </div>
                            </div>
                        </div>
                        <%for(var i=1; i < rows.length; i++){%>
                            <div class="carousel-item">
                                <div class="review-section">
                                    <div class="description">
                                        <h2>
                                            <%=rows[i].name%>
                                        </h2>
                                        <%for(var j=0; j < rows[i].stars; j++){%>
                                            <span class="fa fa-star fixed stars"></span>
                                            <%}%>
                                                <%for(var j=rows[i].stars; j < 5; j++){%>
                                                    <span class="fa fa-star stars"></span>
                                                    <%}%>
                                                        <br>
                                                        <p>
                                                            <%=rows[i].message%>
                                                        </p>
                                    </div>
                                </div>
                            </div>
                            <%}%>

                    </div>
                    <a class="carousel-control-prev" href="#reviews" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#reviews" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
                <%} else {%>
                    <h6>No Reviews !!</h6>
                    <%}%>
        </div>
        <div class="col-md-4 placeimg">
            <img src="<%=place.imagel%>" alt="destimg">
            <div class="ratings" style="margin: 0;margin-top: 6%;text-align: center;">
                <script src="https://use.fontawesome.com/a6f0361695.js"></script>

                <h4 id="fh2">SHARE YOUR EXPERIENCE <br>@<%=place.name%>!</h4>

                <form id="feedback" action="/review" method="POST"
                    style="margin: 0;max-width: 100%; margin-bottom: 3%;">
                    <div class="form-group">
                        <div class="col-md-11 inputGroupContainer">
                            <div class="input-group">
                                <input name="name" placeholder="Name" class="form-control input-review" type="text"
                                    required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-11 inputGroupContainer">
                            <div class="input-group">
                                <input name="email" type="email" class="form-control input-review"
                                    placeholder="email@domain.com" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-11 inputGroupContainer">
                            <span class="fa fa-star 1 r"></span>
                            <span class="fa fa-star 2 r"></span>
                            <span class="fa fa-star 3 r"></span>
                            <span class="fa fa-star 4 r"></span>
                            <span class="fa fa-star 5 r"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-11 inputGroupContainer">
                            <div class="input-group">
                                <textarea class="form-control input-review" name="message" id="review" rows="3"
                                    placeholder="Write your experiences here..."></textarea>

                            </div>
                        </div>
                    </div>

                    <input name="stars" id="stars" value="" hidden required>
                    <input name="place" value="<%=place.name%>" hidden>

                    <button type="submit" class="btn btn-primary">Submit</button>


                </form>
            </div>
        </div>

    </div>


    <%-include("footer")-%>